Repository hey-yoo/heyoo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: @heyoo/packs-js-template;
  .editorconfig
  .eslintrc
  .gitattributes
  .huskyrc
  .lintstagedrc
  .npmignore
  .prettierrc
  README.md
  package.json
  pnpm-lock.yaml
  src/bar.js
  src/foo.js
Due: prettier --write, eslint --fix

fix: update;
  README.md
  package.json
Due: prettier --write

feat: @heyoo/plugins-js-template;
  .editorconfig
  .eslintrc
  .gitattributes
  .husky/_/pre-commit
  .huskyrc
  .lintstagedrc
  .npmignore
  .prettierrc
  README.md
  package.json
  pnpm-lock.yaml
  src/bar.js
  src/foo.js
  src/index.js
Due: prettier --write, eslint --fix

fix: modify content;
  README.md
Due: prettier --write

fix: add pre-commit file;
  .husky/_/pre-commit
Due: none

feat: @heyoo/plugins-ts-template;
  .babelrc
  .editorconfig
  .eslintrc
  .gitattributes
  .husky/_/pre-commit
  .huskyrc
  .lintstagedrc
  .npmignore
  .prettierrc
  README.md
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/bar.ts
  src/foo.ts
  src/index.ts
  src/types.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: correct .eslintrc;
  .eslintrc
Due: none

fix: modify .eslintrc;
  .eslintrc
Due: none

feat: Update README.md;
  README.md
Due: prettier --write

fix: modify README.md;
  README.md
Due: prettier --write

fix: delete license and lock file;
  LICENSE
  pnpm-lock.yaml
Due: none

fix: Update .npmignore;
  .npmignore
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,mjs,ts,tsx}) or (any of: *.{css,scss,less,sass,json,html,md,markdown})
  eslint --fix: any of: *.{js,jsx,mjs,ts,tsx}
